<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">

        <a class="navbar-brand" routerLink="">
            <svg lucideGraduationCap></svg>
            <span>Prodemics</span>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false"
            aria-label="Toggle navigation">
            <svg lucideMenu></svg>
        </button>

        <div class="collapse navbar-collapse" id="navbarMenu">
            <div class="navbar-content">
                @if (isAuth) {
                    <section class="user-card">
                        <div class="avatar">
                            {{ initials }}
                        </div>
                        <div class="user-info">
                            <div class="username">
                                {{ username }}
                            </div>
                            <div class="role">
                                {{ displayRole }}
                            </div>
                        </div>
                    </section>
                }

                <ul ngbNav [activeId]="currentNavItemId" class="nav nav-pills">
                    @if (isAuth) {
                        <li ngbNavItem="home">
                            <a ngbNavLink routerLink="">
                                <svg lucideHouse></svg>
                                <span>Home</span>
                            </a>
                        </li>
                    }

                    @if (isAuth) {
                        <li ngbNavItem="notice">
                            <a ngbNavLink routerLink="notice">
                                <svg lucideMegaphone></svg>
                                <span>Notices</span>
                            </a>
                        </li>
                    }

                    @if (!isAuth) {
                        <li ngbNavItem="login">
                            <a ngbNavLink routerLink="login">
                                <svg lucideLogIn></svg>
                                <span>Sign in</span>
                            </a>
                        </li>
                    }

                    @if (isAuth) {
                        <li>
                            <button class="nav-link disabled" type="button">
                                <svg lucideUser></svg>
                                <span>Profile</span>
                            </button>
                        </li>
                        <li>
                            <button class="nav-link disabled" type="button">
                                <svg lucideSettings></svg>
                                <span>Settings</span>
                            </button>
                        </li>
                    }
                </ul>

                @if (isAuth) {
                    <button class="logout-button" (click)="onLogout()">
                        <svg lucideLogOut></svg>
                        <span>Sign out</span>
                    </button>
                }
            </div>
        </div>
    </div>
</nav>