<nav class="navbar navbar-expand-lg">
    @if (navDrawerOpen()) {
        <div
            class="drawer-backdrop"
            (click)="toggleNavDrawer()">
        </div>
    }

    @if (userDrawerOpen()) {
        <div
            class="drawer-backdrop"
            (click)="toggleUserDrawer()">
        </div>
    }

    <div class="container-fluid navbar-shell">
        <div class="navbar-start">
            <button class="navbar-toggler" type="button" (click)="toggleNavDrawer()"
                aria-label="Toggle navigation">
                <svg lucideMenu></svg>
            </button>
            
            <a class="navbar-brand" routerLink="">
                <svg lucideGraduationCap></svg>
                <span>Prodemics</span>
            </a>
        </div>

        <div class="drawer left-drawer" [class.drawer-open]="navDrawerOpen()">
            <div class="navbar-content">
                <ul ngbNav [activeId]="currentNavItemId" class="nav nav-pills">
                    <a class="navbar-brand" routerLink="">
                        <svg lucideGraduationCap></svg>
                        <span>Prodemics</span>
                    </a>
                    
                    @if (isAuth) {
                        <li ngbNavItem="home">
                            <a ngbNavLink routerLink="">
                                <svg lucideHouse></svg>
                                <span>Home</span>
                            </a>
                        </li>
                    }

                    @if (isAuth) {
                        <li ngbNavItem="notice">
                            <a ngbNavLink routerLink="notice">
                                <svg lucideMegaphone></svg>
                                <span>Notices</span>
                            </a>
                        </li>
                    }

                    @if (!isAuth) {
                        <li ngbNavItem="login">
                            <a ngbNavLink routerLink="login">
                                <svg lucideLogIn></svg>
                                <span>Sign in</span>
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>

        <div class="drawer right-drawer" [class.drawer-open]="userDrawerOpen()">
            <div class="navbar-content">
                <div class="user-actions">
                    @if (isAuth) {
                        <section class="user-card">
                            <div class="avatar">
                                {{ initials }}
                            </div>
                            <div class="user-info">
                                <div class="username">
                                    {{ username }}
                                </div>
                                <div class="role">
                                    {{ displayRole }}
                                </div>
                            </div>
                        </section>
                        <button class="user-action-button disabled" type="button">
                            <svg lucideUser></svg>
                            <span>Profile</span>
                        </button>
                        <button class="user-action-button disabled" type="button">
                            <svg lucideSettings></svg>
                            <span>Settings</span>
                        </button>
                    }

                    @if (isAuth) {
                        <button class="user-action-button" (click)="onLogout(); toggleUserDrawer()">
                            <svg lucideLogOut></svg>
                            <span>Sign out</span>
                        </button>
                    }
                </div>
            </div>
        </div>

        @if (isAuth) {
            <button class="avatar-button" type="button" (click)="toggleUserDrawer()">
                <div class="avatar"> {{ initials }} </div>
            </button>
        }
    </div>
</nav>