<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="">Prodemics</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbarNavLightDropdown"
            aria-controls="navbarNavLightDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse navbarNavLightDropdown">
            <ul ngbNav [activeId]="currentNavItemId" class="nav-pills">
                <li ngbNavItem='home' *ngIf="isAuth">
                    <a ngbNavLink routerLink="">Home</a>
                </li>
                <li ngbNavItem='notice' *ngIf="isAuth">
                    <a ngbNavLink routerLink="notice">Notice</a>
                </li>
                <li ngbNavItem='login' *ngIf="!isAuth">
                    <a ngbNavLink routerLink="login">Login</a>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse navbarNavLightDropdown justify-content-end">
            <ul class="navbar-nav">
                <li class="btn btn-link text-decoration-none" (click)="onLogout()" *ngIf="isAuth">Logout</li>
            </ul>
        </div>
    </div>
</nav>