<div class="container mt-3">
  <div class="row justify-content-md-center">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm" class="col-6">
      @if (isError) {
        <ngb-alert type="danger" (closed)="isError = false">Something went wrong!</ngb-alert>
      }
      @if (isAdded) {
        <ngb-alert type="success" (closed)="isAdded = false">Notice Added</ngb-alert>
      }
      <div class="mb-3">
        <label for="title" class="form-label">Title:</label>
        <input type="text" ngModel name="title" class="form-control" required #title="ngModel"/>
        @if (!title.valid && title.touched) {
          <span class="help-block"> Please enter a title </span>
        }
      </div>
      <div class="mb-3">
        <label for="createdAt" class="form-label">Notice Date:</label>
        <input type="text" ngModel name="createdAt" class="form-control" required ngbDatepicker #d="ngbDatepicker"
          (click)="d.toggle()" #createdAt="ngModel" />
          @if (!createdAt.valid && createdAt.touched) {
            <span class="help-block"> Please select/enter date </span>
          }
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description:</label>
          <textarea ngModel name="description" class="form-control" rows="5" required #description="ngModel"></textarea>
          @if (!description.value && description.touched) {
            <span class="help-block"> Please enter description </span>
          }
        </div>
        @if (!isSubmitting) {
          <div class="text-center">
            <button type="submit" class="btn btn-primary" [disabled]="!f.valid || !f.touched">Add</button>
          </div>
        }
        @if (isSubmitting) {
          <div class="text-center">
            <button class="btn btn-primary" type="button" disabled>
              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              Adding
            </button>
          </div>
        }
      </form>
    </div>
  </div>