<main class="home-page">
    <section class="dashboard">
        <header class="dashboard-header">
            <h1>Welcome to Prodemics</h1>
            <p>Choose a module to continue.</p>
        </header>

        <section class="dashboard-cards">
            <div class="dashboard-card card mb-3 mx-auto">
                <a class="card-body text-decoration-none d-flex align-items-center justify-content-center" 
                    routerLink="notice"><h6>Notices</h6></a>
            </div>
        </section>
    </section>
</main>