<div class="container-fluid">
    <div class="row text-center">
        <div class="row mt-3">
            <div class="col justify-content-center">
                <div>
                    <div class="card border-primary mb-3 mx-auto" style="width:8rem; height: 8rem">
                        <a class="card-body text-decoration-none d-flex align-items-center" routerLink="notice"><h6>View Notices</h6></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>