<main class="notice-details-page">
    <a class="back-link" routerLink="/notice"> 
        <svg lucideArrowLeft></svg>
        Back to Notices
    </a>

    <article class="notice-card">
        <div class="notice-icon"> <svg lucideMegaphone></svg> </div>

        <h1>{{ notice().title }}</h1>

        <p class="notice-date"> {{ notice().createdAt | date:'d MMM yyyy' }} </p>

        <div class="divider"></div>

        <p class="notice-description"> {{ notice().description }} </p>
    </article>
</main>